.forgotPasswordIcon {
    float: right;
    height: 50px;
    padding-left: 10px;
}

.forgotPasswordHeading {
    font-size: 22px;
    margin-bottom: 5px;
}

.forgotPasswordResetMessage {
    font-size: 14px;
    padding-bottom: 25px;
}

.forgotPasswordInput {
    padding: 8px;
    width: 100%;
    font-family: inherit;
    font-size: 18px;
    box-sizing: border-box;
}

.forgotPasswordButton {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 0;
    border: 1px solid;
    padding: 10px;
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    background-color: white;
    border-color: rgb(22,82,240);
    color: rgb(22,82,240);
    cursor: pointer;
    box-shadow: inset 0 0 0 0  rgb(22,82,240);
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
}

.forgotPasswordButton:hover {
    color: #FFFFFF;
    box-shadow: inset 0 -100px 0 0  rgb(22,82,240);
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
}

.forgotPasswordButton:disabled {
    background-color: #999999;
    border-color: #999999;
    pointer-events: none;
}

.forgotPasswordMessage {
    font-size: 14px;
}

.errorColor {
    color: red;
}

.successColor {
    color: green;
}