.loginCard {
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    min-height: 200px;
    max-width: 400px;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
    color: rgb(81, 92, 104);
    font-family: inherit;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
}

.loginHeader {
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
}

.loginWebsiteName {
    font-weight: 300;
    color: #000000;
}

.loginWebsiteNameThin {
    color: rgb(22,82,240);
}

.loginInput {
    font-family: inherit;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid;
    font-size: 15px;
    box-sizing: border-box;
    border-color: #d2d2d2;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.loginButton {
    width: 100%;
    margin-top: 20px;
    border: 0;
    border: 1px solid;
    padding: 10px;
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    background-color: white;
    border-color: rgb(22,82,240);
    color: rgb(22,82,240);
    cursor: pointer;
    box-shadow: inset 0 0 0 0  rgb(22,82,240);
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
}

.loginButton:hover {
    color: #FFFFFF;
    box-shadow: inset 0 -100px 0 0  rgb(22,82,240);
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
}

.loginForgotLink {
    position: relative;
    top: -8px;
    font-size: 13px;
    color: blue;
    float: right;
}

.loginErrorMessage {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(236, 55, 55);
    background-color: rgb(236, 55, 55);
    color: white;
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    .loginCard {
        border-radius: 0;
    }
}