.appPage {
    margin: auto;
    max-width: 1200px;
}

.pageBody {
    min-height: 500px;
}

.tickerHolder {
    margin: auto;
    border-color: white;
    overflow: hidden;
    text-align: center;
}

.newsHolder {
    overflow: hidden;
}

h2 {
    text-align: left;
    color: white;
}

button {
    font-family: inherit;
}

input {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.seeAllCryptosLink {
    font-size: 14px;
    color: white;
    text-align: right;
}