.coinCardContainer {
    width: 100%;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
}






.coinHeaderContainer {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
}

.coinHeaderItem {
    margin-right: 5px;
}

.coinHeaderItemPicture {
    height: 33px;
}

.coinHeaderItemName {
    font-size: 22px;
}

.coinHeaderSymbol {
    font-size: 12px;
    font-weight: 300;
}

.coinPrice {
    margin-left: auto;
    font-size: 27px;
}

.coinPriceChange {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 300;
    vertical-align: text-top;
}






.coinDailyContainer {
    display: flex;
}

.coinDailyItem {
    padding: 0 0 10px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #383838;
}

.coinDailyPrice {
    font-size: 18px;
    font-weight: normal;
}






.coinCardChart {
    padding-top: 30px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    height: 300px;
    background-color: #132948;
    border-radius: 5px;
    -webkit-box-shadow: -2px 1px 4px -3px rgba(0,0,0,0.55);
    -moz-box-shadow: -2px 1px 4px -3px rgba(0,0,0,0.55);
    box-shadow: -2px 1px 4px -3px rgba(0,0,0,0.55);
}

.coinCardDateRangePickerContainer {
    display: inline-block;
    color: white;
    padding: 5px 0 0 15px;
}

.coinBodyMarketData {
    display: flex;
    flex-wrap: wrap;
}

.coinBodyMarketInfoCommunity {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #383838;
}

.coinBodyMarketDataItem {
    flex: 1 0 31%;
    height: 70px;
    margin: 5px;
    font-size: 20px;
}

.coinBodyMarketDataItemTitle {
    padding-bottom: 7px;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    color: rgb(100, 100, 100);
}

.coinBodyMarketDescription {
    font-size: 13px;
    color: #747474;
    overflow: hidden;
    text-overflow: ellipsis;
}

.coinBodyMarketDescriptionMoreButton {
    padding-top: 5px;
    float: right;
    font-size: 12px;
    font-weight: normal;
    color: blue;
    cursor: pointer;
}

.coinBodyMarketInfoResource {
    margin-bottom: 20px;
    font-size: 14px;
    color: blue;
}

.coinBodyMarketInfoResourceIcon {
    margin-right: 5px;
    height: 25px;
    vertical-align: middle;
}

.coinBodyMarketInfoCommunityItem {
    margin-right: 30px;
    vertical-align: middle;
}

.coinBodyMarketInfoCommunityItemIcon {
    height: 25px;
    margin-right: 5px;
    vertical-align: middle;
}

.negativeColor {
    color: red;
}

.positiveColor {
    color: green;
}

.coinBodyMarketInfoCommunityItemSentimentBar {
    max-width: 300px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    color: white;
}

.sentimentIcon {
    height: 11px;
    padding-left: 5px;
}

.SentimentPostitive {
    padding: 3px;
    background-color: rgb(63, 150, 63);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    vertical-align: middle;
}

.SentimentNegative {
    padding: 3px;
    background-color: rgb(255, 57, 57);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    vertical-align: middle;
}

.coinBodyMarketInfoDevContainer {
    margin: 30px 0 30px 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    color: #383838;
}

.coinBodyMarketInfoDevItem {
    flex: 1 0 21%;
    margin-left: 5px;
}

.coinBodyMarketInfoDevItemTitle {
    padding-bottom: 7px;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    color: rgb(100, 100, 100);
}






.coinBodyNews {
    margin-top: 40px;
    max-width: 100%;
}


@media only screen and (max-width: 650px) {
    .coinPageContainer {
        padding-left: 8px;
        padding-right: 10px;
    }






    .coinCardContainer {
        width: 100%;
        margin: 10px 0 10px 0;
        box-sizing: border-box;
        border-radius: 0;
    }







    .coinHeaderItemPicture {
        height: 30px;
    }
    
    .coinHeaderItemName {
        font-size: 20px;
    }
    
    .coinHeaderSymbol {
        margin-right: 30px;
        font-size: 13px;
        font-weight: 300;
    }
    
    .coinPrice {
        font-size: 25px;
    }

    .coinPriceChange {
        font-size: 15px;
    }





    .coinDailyItem {
        font-size: 13px;
    }
    
    .coinDailyPrice {
        font-size: 18px;
    }






    .coinCardChart {
        height: 200px;
    }


}