.priceConvertor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    font-size: 15px;
}

.priceConvertorInput {
    outline: none;
    display: inline-block;
    max-width: 290px;
    margin-right: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    border: 0;
    border-bottom: 2px solid;
    border-color: #132948;
    font-family: inherit;
    font-size: 40px;
    text-align: right;
}

.priceConvertorPriceSelect {
    border: 0;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 20px;
    padding: 10px;
    font-family: inherit;
    font-size: 14px;
    outline: none;
    border-color: #d2d2d2;
    float: right;
}

.priceConvertorPriceResult {
    padding-top: 20px;
    flex-basis: 100%;
    font-size: 30px;
    text-align: right;
}