.buyCoinsList {
    display: flex;
    flex-wrap: wrap;
}

.buyCoinsListItemsContainer {
    width: 100%;
}

.buyCoinsItem {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 50px;
    color: #000000;
}

.buyCoinsItemHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

.buyCoinsItemBody {
    display: flex;
    justify-content: space-around;
    font-size: 17px;
}

.buyCoinsItemName {
    display: inline;
    position: relative;
    top: 8px;
    font-size: 20px;
    font-weight: 600;
}

.buyCoinsItemImage {
    margin-right: 10px;
    border-radius: 100%;
    max-height: 40px;
    max-width: 40px;
    float: left;
}

.buyCoinsItemButton {
    border: 2px solid;
    padding: 10px;
    width: 80px;
    color: rgb(51,131,5);
    border-color: rgb(51,131,5);
    box-shadow: inset 0 0 0 0 rgb(51,131,5);
    background-color: white;
    font-size: 15px;
    font-weight: 600;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
    outline: none;
}

.buyCoinsItemButton:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0  rgb(51,131,5);
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
}

.buyCoinsItemBodyLabel {
    padding-bottom: 7px;
    color: #383838;
    font-size: 13px;
    font-weight: 600;
}