.pricesPageHeaderContainer {
    max-width: 900px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.pricesPageHeaderSearch {
    max-width: 700px;
    flex-basis: 70%;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    font-family: inherit;
    font-size: 15px;
    background-color: white;
    outline: none;
}

.pricesPageTitle {
    margin-top: 60px;
    font-size: 18px;
}

.pricesList {
    max-width: 900px;
    margin: auto;
}

.pricesListNoResults {
    width: 200px;
    margin: auto;
    padding: 20px;
    color: white;
}

.pricesListHeader {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
    color: #d2d2d2;
}

.headerItemName {
    font-weight: inherit;
    margin-right: 15px;
    width: 250px;
    text-align: left;
}

.singleCoin {
    margin-bottom: 5px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    font-size: 18px;
}

.singleCoinRank {
    color: #383838;
}

.coinDetails {
    margin-right: 20px;
    height: 100%;
    width: 275px;
}

.singleCoinPicture {
    height: 30px;
    padding-right: 10px;
    vertical-align: middle;
}

.singleCoinName {
    padding-right: 5px;
    font-size: 20px;
    vertical-align: middle;
    overflow: hidden;
}

.singleCoinSymbol {
    font-size: 12px;
    vertical-align: middle;
}

.singleCoinPrice {
    font-size: 19px;
}

.singleCoinChangePositive {
    color: green;
}

.singleCoinChangeNegative {
    color: red;
}

.singleCoinMarketCap {

}

.pricesListLoadMore {
    margin-top: 10px;
    color: white;
    font-size: 13px;
    text-align: right;
}

.pricesListLoadMoreButton {
    margin-right: 100px;
    font-size: 14px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .pricesPageHeaderContainer {
        padding: 10px;
    }

    .pricesPageHeaderSearch {
        flex-basis: 100%;
        max-width: 100%;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 0;
    }

    .pricesPageDatePicker {
        width: 100%;
        text-align: right;
    }

    .pricesPageTitle {
        width: 100%;
    }

    .pricesListHeader {
        display: none;
    }

    .pricesList {
        padding-left: 8px;
        padding-right: 10px;
    }

    .singleCoin {
        border-radius: 0;
    }

    .coinDetails {
        width: 190px;
    }

    .singleCoinRank {
        display: none;
    }

    .singleCoinName {
        font-size: 19px;
    }

    .singleCoinPrice {
        font-size: 17px;
    }

    .singleCoinChangePositive {
        font-size: 15px;
    }
    
    .singleCoinChangeNegative {
        font-size: 14px;
    }

    .singleCoinMarketCap {
        display: none;
    }
}