.coinPageContainer {
    max-width: 1150px;
    padding-top: 30px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.coinpageCoinCardContainer {
    max-width: 650px;
    box-sizing: border-box;
}






.coinToolsContainer {
    width: 350px;   
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
}

.coinToolsHeader {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.coinToolsHeaderItem {
    cursor: pointer;
    padding: 0px 20px 5px 20px;
}

.activeTab {
    border-bottom: 3px solid;
    border-color: #132948;
}

.coinToolsConvertor {
    color: #383838;
}





@media only screen and (max-width: 1050px) {
    .coinToolsContainer {
        width: 650px;
        margin-top: 20px;
    }
}





@media only screen and (max-width: 700px) {
    .coinPageContainer {
        display: block;
    }




    .coinToolsContainer {
        width: 100%;
        box-sizing: border-box;
        border-radius: 0;
    }
}