.contactUsContainer {
    max-width: 400px;
    margin: auto;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
}

.contactUsHeader {
    padding-bottom: 10px;
    font-size: 22px;
}

.contactUsImg {
    float: right;
    height: 50px;
    margin-left: 10px;
    vertical-align: middle;
    overflow: hidden;
}

@media only screen and (max-width: 450px) {
    .contactUsContainer {
        margin: 10px auto;
        border-radius: 0;
    }
}