.emailNotConfirmedPageContainer {
    max-width: 400px;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
}

.emailNotConfirmedTitle {
    font-size: 20px;
    overflow: hidden;
    display: inline;
}

.emailNotConfirmedImg {
    float: right;
    height: 40px;
    margin-left: 10px;
    vertical-align: middle;
    overflow: hidden;
}

.emailNotConfirmedBody {
    margin-top: 15px;
}

.emailNotConfirmedBodySendBody {
    margin-top: 10px;
}

.emailNotConfirmedSendButton {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 0;
    border: 1px solid;
    padding: 10px;
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    background-color: white;
    border-color: rgb(22,82,240);
    color: rgb(22,82,240);
    cursor: pointer;
    box-shadow: inset 0 0 0 0  rgb(22,82,240);
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
}

.emailNotConfirmedSentMessage {
    padding-bottom: 10px;
    font-size: 20px;
}

.errorColor {
    color: red;
}

.successColor {
    color: green;
}

.emailNotConfirmedSendButton:hover {
    color: #FFFFFF;
    box-shadow: inset 0 -100px 0 0  rgb(22,82,240);
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
}

.emailNotConfirmedSendButton:disabled {
    background-color: #999999;
    border-color: #999999;
    pointer-events: none;
}

@media only screen and (max-width: 500px) {
    .emailNotConfirmedPageContainer {
        margin: auto;
        margin: 10px;
        margin-top: 30px;
        border-radius: 0;
    }
}