.forgotPasswordContainer {
    margin: auto;
    padding: 20px;
    max-width: 400px;
    background-color: white;
    border-radius: 5px;
}

@media only screen and (max-width: 450px) {
    .forgotPasswordContainer {
        margin: 10px;
        border-radius: 0;
    }
}