.homepageCoinCardContainer {
    padding: 0 10px 10px 10px;
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.chooseCoinContainer {
    width: 700px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.chooseCoinButton {
    width: 70px;
    padding: 10px;
    float: right;
    font-size: 13px;
    cursor: pointer;
    border: 0;
    background-color: rgb(22,82,240);
    color: white;
}

.chooseCoinSearch {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-family: inherit;
    font-size: 16px;
}

.chooseCoinSingleWrapper {
    min-width: 75px;
    min-height: 75px;
    margin: 0 4px 4px 0;
    padding: 10px;
    position: relative;
    text-align: center;
    background-color: white;
    color: #383838;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coinCardChooseOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.coinCardChooseOverlay:hover {
    background-color: #000000;
    opacity: .1;
}