.dateRangeOption {
    padding: 0;
    margin-right: 10px;
    background: none;
    border: 0;
    outline: none;
    color: inherit;
    cursor: pointer;
}

.activeOption {
    padding-bottom: 2px;
    border-bottom: 1px solid;
}