.contactUsInputLabel {
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 13px;
}

.contactUsRequired {
    font-weight:600;
    font-size: 11px;
    color: red;
}

.contactUsInput {
    font-family: inherit;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid;
    font-size: 15px;
    box-sizing: border-box;
    border-color: #d2d2d2;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contactUsButton {
    width: 100%;
    margin-top: 20px;
    border: 0;
    border: 1px solid;
    padding: 10px;
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    background-color: white;
    border-color: rgb(22,82,240);
    color: rgb(22,82,240);
    cursor: pointer;
    box-shadow: inset 0 0 0 0  rgb(22,82,240);
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
}

.contactUsButton:hover {
    color: #FFFFFF;
    box-shadow: inset 0 -100px 0 0  rgb(22,82,240);
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
}

.contactUsButton:disabled {
    background-color: #999999;
    border-color: #999999;
    pointer-events: none;
}

.contactUsError {
    color: red;
}

.contactUsSuccess {
    color: green;
}