.landingCardContainer {
    max-width: 800px;
    margin: 10px auto;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 5px;
    box-sizing: border-box;
}

h1 {
    font-weight: normal;
}

.landingCardEmailInput {
    border: 0;
    width: 100%;
    max-width: 400px;
    padding: 15px;
    font-size: 16px;
    font-family: inherit;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.landingCardJoinButton {
    border: 0;
    width: 100px;
    padding: 16px;
    margin-left: 10px;
    font-size: 15px;
    color: #FFFFFF;
    font-family: inherit;
    background-color: white;
    background-color: rgb(22,82,240);
    cursor: pointer;
}

.landingCardIconContainer {
    display: flex;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

.landingCardIcon {
    
}

.particle-canvas {
    position: absolute;
    left:0;
    top:0;
    z-index: -1;
}

@media only screen and (max-width: 600px) {
    .landingCardContainer {
        margin: 10px;
        border-radius: 0;
    }

    .landingCardEmailInput {
        box-sizing: border-box;
        max-width: 80%;
        width: 80%;
    }

    .landingCardJoinButton {
        width: 80%;
        margin: 0;
    }
  }