.footerContainer {
    padding: 10px 10px 10px 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 14px;
    overflow: hidden;
}

.footerWebsite {
    margin-right: 20px;
    font-size: 17px;
    font-weight: 300;
    color: #FFFFFF;
}

.footerWebsiteThin {
    color: #aec7ea;
}

.footerItem {
    margin-right: 20px;
}

@media screen and (max-width: 450px) {
    .footerContainer {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footerWebsite {
        flex-basis: 100%;
        padding-bottom: 10px;
        text-align: center;
    }
}