.custom-tooltip {
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    background: rgb(22,82,240);
    background: -moz-linear-gradient(144deg, rgba(22,82,240,1) 70%, rgba(39,96,241,1) 100%);
    background: -webkit-linear-gradient(144deg, rgba(22,82,240,1) 70%, rgba(39,96,241,1) 100%);
    background: linear-gradient(144deg, rgba(22,82,240,1) 70%, rgba(39,96,241,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1652f0",endColorstr="#2760f1",GradientType=1);
}

.toolTipPrice {
    padding-bottom: 2px;
    font-size: 20px;
}

.toolTipTime {
    color: #6f95f6;
}