.confirmEmailCardContainer {
    margin-top: 50px;
    text-align: center;
}

.confirmEmailCard {
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
}

.confirmEmailCardTitle {
    padding-bottom: 20px;
    font-size: 24px;
}

.confirmEmailCardImg {
    vertical-align: middle;
    margin-left: 10px;
    height: 50px;
}

.confirmEmailCardMessage {
    font-size: 15px;
}

.confirmEmailCardNewEmailContainer {
    padding-top: 25px;
    display: flexbox;
}

.confirmEmailCardNewEmailError {
    font-size: 14px;
    color: red;
}

.confirmEmailCardNewEmailSuccess {
    font-size: 18px;
    color: green;
}

.confirmEmailCardNewEmailInput {
    font-family: inherit;
    width: 80%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid;
    font-size: 15px;
    box-sizing: border-box;
    border-color: #d2d2d2;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.confirmEmailCardNewEmailButton {    
    width: 20%;
    padding: 10px;
    border: 0;
    border: 1px solid;
    padding: 10px;
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    background-color: white;
    border-color: rgb(22,82,240);
    color: rgb(22,82,240);
    cursor: pointer;
    box-shadow: inset 0 0 0 0  rgb(22,82,240);
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
}

.confirmEmailCardHidden {
    display: none;
}

.confirmEmailCardNewEmailButton:hover {
    color: #FFFFFF;
    box-shadow: inset 0 -100px 0 0  rgb(22,82,240);
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
}

.confirmEmailCardNewEmailExplainText {
    padding-top: 15px;
    font-size: 14px;
}

.confirmEmailCardGoButton {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    border: 0;
    border: 1px solid;
    padding: 10px;
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    background-color: white;
    border-color: rgb(22,82,240);
    color: rgb(22,82,240);
    cursor: pointer;
    box-shadow: inset 0 0 0 0  rgb(22,82,240);
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
}

.confirmEmailCardGoButton:hover {
    color: #FFFFFF;
    box-shadow: inset 0 -100px 0 0  rgb(22,82,240);
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
}

@media only screen and (max-width: 500px) {
    .confirmEmailCard {
        margin: 10px;
        border-radius: 0;
    }
}