.profileCard {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.profileTitle {
    color: #383838;
}

.profileCardDetails {
    display: flex;
}

.profileCardPicture {
    margin-right: 40px;
    vertical-align: middle;
}

.profileItem {
    list-style-type: none;
    margin-bottom: 15px;
    vertical-align: middle;
}

.profileItemLabel {
    padding-bottom: 5px;
    color: #383838;
    font-size: 13px;
    font-weight: 600;
}


