.headerContainer {
    border-bottom: 1px solid;
    margin: 15px;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #132948;
    border-color: #1b3a65;
    color: #FFFFFF;
    font-size: 15px;
}

.headerWebsiteName {
    font-size: 23px;
    font-weight: 300;
    color: #FFFFFF;
}

.headerWebsiteNameThin {
    color: #aec7ea;
}

.mobileMenuIcon {
    display: none !important;
}

.headerDesktopBar {
    position: relative;
    top: 7px;
    float: right;
}

.headerItem {
    float: right;
    padding-left: 15px;
    color: #FFFFFF;
    box-sizing: border-box;
}

.headerPicture {
    top: 6px;
    background-color: white;
    height: 17px;
    padding: 4px;
    vertical-align: middle;
    border-radius: 100%;
    cursor: pointer;
}

a {
    color: inherit;
}

.headerJoinButton {
    position: relative;
    top: -8px;
    border: 0;
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    color: #FFFFFF;
    font-family: inherit;
    background: rgb(22,82,240);
    background: -moz-linear-gradient(144deg, rgba(22,82,240,1) 70%, rgba(39,96,241,1) 100%);
    background: -webkit-linear-gradient(144deg, rgba(22,82,240,1) 70%, rgba(39,96,241,1) 100%);
    background: linear-gradient(144deg, rgba(22,82,240,1) 70%, rgba(39,96,241,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1652f0",endColorstr="#2760f1",GradientType=1);
}

.headerJoinButton:hover {
    background: rgb(39,96,241);
    background: -moz-linear-gradient(144deg, rgba(39,96,241,1) 70%, rgba(63,114,243,1) 100%);
    background: -webkit-linear-gradient(144deg, rgba(39,96,241,1) 70%, rgba(63,114,243,1) 100%);
    background: linear-gradient(144deg, rgba(39,96,241,1) 70%, rgba(63,114,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2760f1",endColorstr="#3f72f3",GradientType=1);
}

.headerDropDownMenu {
    position: absolute;
    width: 245px;
    margin-left: -220px;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.headerDropDownRow {
    padding-bottom: 10px;
    margin-top: 15px;
}

.headerDropDownItem {
    padding-bottom: 5px;
}

.headerItemName {
    font-weight: bold;
    font-size: 15px;
}

.headerItemEmail {
    color: gray;
    font-size: 12px;
    font-weight: normal;
}

.headerItemLogout {
    color: red;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .headerDesktopBar {
        display: none;
    }

    .mobileMenuIcon {
        display: block !important;
        float: right;
        font-size: 28px;
        cursor: pointer;
    }

    .headerMobileMenu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        box-sizing: border-box;
        background-color: white;
        color: #383838;
        z-index: 99;
    }

    .MobileMenuName {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 23px;
        font-weight: 300;
        color: #383838;
    }
    
    .MobileMenuNameThin {
        color: rgb(22,82,240);
    }

    .headerItemMobile {
        padding: 20px;
        padding-top: 25px;
        padding-bottom: 10px;
    }

    .headerJoinButton {
        position: relative;
        top: 0;
        width: 100%;
        height: 40px;
    }

    .LoginButton {
        border: 2px solid;
        color: rgb(22,82,240);
        background: white;
        border-color: rgb(22,82,240);
    }

    .headerEscapeButton {
        float: right;
        font-size: 28px;
    }

    .headerItemLogoutButton {
        position: relative;
        top: 0;
        width: 100%;
        height: 40px;
        border: 2px solid;
        background-color: white;
        color: red;
        border-color: red;
    }
}
