.newsArticleContainer {
    padding: 15px;
    margin: 10px auto;
    margin-bottom: 20px;
    background-color: white;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px;
    -webkit-box-shadow: 5px 4px 10px 0px rgba(50, 50, 50, 0.21);
    -moz-box-shadow:    5px 4px 10px 0px rgba(50, 50, 50, 0.21);
    box-shadow:         5px 4px 10px 0px rgba(50, 50, 50, 0.21);
}

.newsHeader {
    color: white;
}

.newsArticleTitle {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 3px;
    padding-left: 10px;
    white-space: normal;
}

.newsArticleDetails {
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 13px;
    color: #383838;
}

.newsArticleBody {
    padding-left: 10px;
    font-size: 13px;
    overflow: hidden;
    color: #383838;
    text-overflow: ellipsis;
}

.newsArticleImage {
    border-radius: 10px;
    margin-left: 10px;
    height: 80px;
    float: right;
}

.newsArticleSource {
    padding-right: 10px;
}

.newsArticleDate {

}
