.signUpCard {
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    min-height: 200px;
    max-width: 400px;
    border-radius: 5px;
    background-color: white;
    color: rgb(81, 92, 104);
    font-family: inherit;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
}

.signUpInputContainer {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.signUpHeader {
    text-align: left;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
}

.signUpInput {
    font-family: inherit;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid;
    font-size: 15px;
    box-sizing: border-box;
    border-color: #d2d2d2;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.signUpSingleError {
    width: 100%;
    text-align: right;
    font-size: 11px;
    font-weight: 600;
    color: red;
}

.signUpButton {
    width: 100%;
    margin-top: 20px;
    border: 0;
    border: 1px solid;
    padding: 10px;
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    background-color: white;
    border-color: rgb(22,82,240);
    color: rgb(22,82,240);
    cursor: pointer;
    box-shadow: inset 0 0 0 0  rgb(22,82,240);
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
}

.signUpButton:hover {
    color: #FFFFFF;
    box-shadow: inset 0 -100px 0 0  rgb(22,82,240);
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
}

.signUpButton:disabled {
    background-color: #999999;
    border-color: #999999;
    pointer-events: none;
}

@media only screen and (max-width: 600px) {
    .signUpCard {
        border-radius: 0;
    }
}